p{
font-family: 'Oswald', sans-serif;
}
h3{
	font-family: 'Lora', serif;
}

.btn-margin-left {
    margin-right:25px;
    margin-top:10px;
    width:-50px;
}
.navbar-color
{
	background-color:white;
}
.jumbotron
{
	margin-top:20px;
	background-color:white;
}
.navbar-text
{
	text-align:centre;
}
body
{
	background-color:black;
}
.text-center
{
	text-align:center;

}